@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto&display=swap');
@import "./component_styles/fonts";
@import "./component_styles/header";
@import "./component_styles/login";
@import "./component_styles/trackers";
@import "./component_styles/history";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app {
    background: $whiteColor;
    min-height: 1024px;
}