$navigationColor: rgba(24, 24, 70, 1);
$whiteColor: #FFFFFF;
$activeBorderColor: #FF5722;
$listItemColor: #C4C5D7;
$formBackgroundColor: #F9F9FD;
$formBorderColor: #ECEDF5;
$placeholderColor: #5F6B8A;