@import "./fonts";
@import "./colors";

main {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;

  h2 {
    margin-top: 84px;
    margin-bottom: 53px;
    @include nunito24();
    color: rgba(12, 13, 37, 1);
  }

  .filter_container {
    padding-top: 22px;
    display: flex;
    width: 1170px;
    height: 111px;
    background: #f9f9fd;
    border-radius: 8px;
    margin-bottom: 43px;

    p {
      @include roboto14();
      color: #5f6b8a;
      margin-bottom: 4px;
    }

    .start_date {
      margin-left: 50px;
    }

    .pick_date {
      display: flex;
      margin-right: 20px;

      .react-datepicker__input-container {
        input {
          cursor: pointer;
          background: #ffffff !important;
          border-radius: 3px !important;
          border: none !important;
          height: 42px;
          width: 330px;
          padding: 13px 40px 12px 20px;
          @include nunito18();
          color: #5f6b8a;
        }
      }

      img {
        cursor: pointer;
        position: relative;
        left: -10%;
      }
    }

    .close_desc {
      position: relative;
      input {
        height: 42px;
        width: 330px;
        background: #ffffff !important;
        border-radius: 3px !important;
        border: none !important;
        padding: 13px 40px 12px 20px;
        @include nunito18();
        color: #5f6b8a;
      }

      img {
        cursor: pointer;
        position: absolute;
        left: 90%;
        top: 50%;
      }
    }
  }

  .history_table {
    width: 1170px;
    height: fit-content;
    box-sizing: border-box;
    border-radius: 3px;

    ul {
      background: #f9f9fd;
      border: 0.5px solid #ecedf5;
      list-style: none;
      display: flex;
      @include nunito18Bold();

      :first-child {
        margin: 32px 176px 21px 30px;
      }

      :nth-child(2) {
        margin: 32px 345px 21px 30px;
      }

      :nth-child(3) {
        margin: 32px 80px 21px 30px;
      }

      :nth-child(4) {
        margin: 32px 110px 21px 30px;
      }
    }

    .history_timer {
      display: flex;

      .time {
        padding: 22px 30px 24px 30px;
        width: 24%;
        border: 0.5px solid #ecedf5;
        border-top: none;

        p {
          @include nunito18Description();
          color: #5f6b8a;
        }
      }

      .description {
        padding: 22px 30px 24px 30px;
        width: 47%;
        border: 0.5px solid #ecedf5;
        border-top: none;
        border-left: none;

        p {
          @include nunito18Description();
          color: #5f6b8a;
        }
      }

      .time_tracked {
        width: 18%;
        padding: 22px 116px 24px 31px;
        border: 0.5px solid #ecedf5;
        border-top: none;
        @include nunito18Timer();
        color: #5f6b8a;
      }

      .action_buttons {
        width: 25%;
        border: 0.5px solid #ecedf5;
        border-top: none;
        border-left: none;

        .edit {
          border: none;
          background-color: $whiteColor;

          img {
            cursor: pointer;
            margin: 22px 15px 24px 30px;
          }
        }

        .delete {
          border: none;
          background-color: $whiteColor;

          img {
            cursor: pointer;
            margin: 22px 0px 24px 0px;
          }
        }
      }
    }
  }
}
